@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--brand: #00ae8a;
	--brand-light: #e7fffa;
	--brand-deep: #044d3d;

	--background: #ffffff;
	--foreground: #171717;

	--gray-light: #f5f7f9;

	--primary: #242a33;
	--secondary: #404c5c;
	--secondary-light: #58677d;

	--warning-light: #fff7eb;
}

/* @media (prefers-color-scheme: dark) {
	:root {
      --primary: #00AE8A;
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

html,
body {
	background: var(--background);
	font-family: var(--font-urbanist);
	scroll-behavior: smooth;
}
@layer base {
}

@layer components {
}

@layer utilities {
	.btn {
		@apply font-urbanist capitalize;
	}
	.btn-brand {
		@apply bg-brand text-white;
	}
	.btn-outline {
		@apply border border-brand text-brand;
	}
}
